
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.env
playwright/.auth

# ReportPortal infrastructure
reportportal/docker-compose.yml
reportportal/data/
reportportal/elasticsearch/
reportportal/postgres/
reportportal/rabbitmq/
reportportal/storage/
