name: Automation Smoke Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '24.x'
    - name: Install dependencies
      run: npm ci
    - name: Create Auth directory
      run: mkdir -p playwright/.auth
    - name: Install Playwright Browsers
      run: npx playwright install chrome --with-deps
    - name: Run Playwright tests
      run: npx playwright test --project=smoke
      env:
        BASE_URL: ${{ vars.BASE_URL }}
        API_URL: ${{ vars.API_URL }}
        CUSTOMER_EMAIL: ${{ secrets.CUSTOMER_EMAIL }}
        CUSTOMER_PASSWORD: ${{ secrets.CUSTOMER_PASSWORD }}
        CUSTOMER_NAME: ${{ vars.CUSTOMER_NAME }}
        TESTOMATIO: ${{ secrets.TESTOMATIO }}
        TESTOMATIO_TITLE: "Smoke: ${{ github.ref_name }} | ${{ github.event.head_commit.message }}"
    - name: Upload Test Artifacts
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: reports
        path: |
         playwright-report/
         test-results/test-results.json
        retention-days: 30
