name: Automation Tests

on:
  workflow_dispatch:
    inputs:
      test_grep:
        description: 'Tags filter (example @smoke|@regression|^[^@]*$)'
        required: true
        default: '@smoke|@regression|^[^@]*$'
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '24.x'
    - name: Install dependencies
      run: npm ci
    - name: Create Auth directory
      run: mkdir -p playwright/.auth
    - name: Install Playwright Browsers
      run: npx playwright install chrome --with-deps
    - name: Run Playwright tests
      run: npx playwright test --grep "${{ github.event.inputs.test_grep }}"
      env:
        BASE_URL: ${{ secrets.BASE_URL }}
        TEST_EMAIL: ${{ secrets.TEST_EMAIL }}
        TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
